<!DOCTYPE html>
<html lang="en">
<head>
     <script src="/static/jcode/jquery.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>

<style>
    .center-div
    {
      position: absolute;
      margin: auto;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 800px;
      height: 80px;
      background-color: #ccc;
      text-align: center;
      border-radius: 3px;
    }
</style>
</head>
<body bgcolor="#E6E6FA">
<div id="directions" class="center-div"><h1>Please stare at the center of each red box that appears</h1> </div>

<script>
    {% autoescape off %}
        var dynamic_interface_storage = false;  // set to true if using an eye tracker
        var divsize = 7;
        var counter = 0;
        var dict_x = [0, 1920*0.1+4, 1920*0.9+4, 1920*0.5+4, 1920*0.1+4, 1920*0.9+4, 1920*0.1+4, 1920*0.5+4, 1920*0.9+4, 1920*0.5+4];
        var dict_y = [0, 1080*0.1+4, 1080*0.1+4, 1080*0.5+4, 1080*0.9+4, 1080*0.9+4, 1080*0.5+4, 1080*0.1+4, 1080*0.5+4, 1080*0.9+4];
        var out_file_name = 'eye_'+Date.now();
        if({{ skip_eye_cal }}) { counter = 10 }
        var refreshIntervalId = setInterval(function makeDiv() {
            if (counter == 10) {
                var message =
                    "<h1>Calibration Complete!</h1>"
                    + "<button id='continue_button' onclick=continue_clicked('http://127.0.0.1:8000/LEMRinterface/{{ next_case }}/{{ user_id }}/1/0/')>Continue</button></a>";
                console.log(message);
                $('#directions').html(message).fadeIn(0);
                clearInterval(refreshIntervalId);
            } else if (counter == 0) {
                $('#directions').fadeOut(0);
            } else {

                $newdiv = $('<div/>').css({
                    'width': divsize + 'px',
                    'height': divsize + 'px',
                    'background-color': '#FF0000'
                });
                $tdiv = $('<div/>').css({
                    'width': divsize * 4 + 'px',
                    'height': divsize * 4 + 'px',
                    'background-color': '#ffa266'
                });

                var posx = dict_x[counter];
                var posy = dict_y[counter];
                console.log(posy+ ' ' + posx);

                $newdiv.css({
                    'position': 'absolute',
                    'left':posx + 'px' ,
                    'top':posy + 'px'
                }).appendTo('body' ).attr('id', 'c').show();
                setTimeout(function (){
                    $newdiv.remove();
                    send_div_locations(); // and empty div zone while waiting for next calibration point to start
                },1700) ;
                console.log("here");
                console.log(Date.now());
                $tdiv.css({
                    'position': 'absolute',
                    'left':posx-(divsize+4)+ 'px',
                    'top':posy-(divsize+4)+ 'px'
                }).appendTo
                ( 'body' ).attr('id', 't').show().fadeOut(800); setTimeout(function(){
                send_div_locations(); // don't send locations until after boarder box dissapears.
                    console.log
                (Date.now());
                    },800) ; // needs to be the same as fade out above

                }
                counter = counter + 1;
        }, 1800);


        function continue_clicked(curr_url){
            $('#continue_button').attr("disabled", true);
            window.location.href = curr_url;
        }


function send_div_locations(){
    if (dynamic_interface_storage && false) {
        var curr_timestamp = Date.now();
        var curr_pixelmap = [];

        $('#c').each(function () {
            var edges = this.getBoundingClientRect();
            var curr_array = [Math.round(edges.top), Math.round(edges.left), Math.round(edges.bottom), Math.round(edges.right)];
            curr_pixelmap.push(curr_array);
        });

        create_post(curr_timestamp.toString(), curr_pixelmap.toString());
    }
}

function create_post(curr_timestamp, curr_pixelmap) {
    if (dynamic_interface_storage && false){
        console.log("create post is working!"); // sanity check
        var csrf_token = getCookie('csrftoken');
        $.ajax({
            url : "http://127.0.0.1:8000/LEMRinterface/save_pixelmap/", // the endpoint
            type : "POST", // http method
            data : { csrfmiddlewaretoken: csrf_token, the_pixelmap : curr_pixelmap, the_timestamp : curr_timestamp, pat_id : 'calibration'}, // data sent with the post request
            // handle a successful response
            success : function(msg) {
                console.log(msg); // another sanity check
            },
            // handle a non-successful response
            error : function(xhr,errmsg,err) {
                console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
        }})
    }
    return false;
}

function getCookie(cname) {
    var name = cname + "=";
    var ca = document.cookie.split(';');
    for(var i=0; i<ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0)==' ') c = c.substring(1);
        if (c.indexOf(name) == 0) return c.substring(name.length,c.length);
    }
    return "";
}

{% endautoescape %}
</script>
</body>
</html>