<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style type="text/css">
        .info-div {
            padding-left: 10px;
            padding-right: 10px;
            width: 1200px;
            background-color: #DCDCDC;
            text-align: left;
            border-radius: 3px;
        }
        </style>

    <script src="/static/jcode/jquery.js"></script>
    <script>
    $(document).ready(function(){
        is_full_screen();
    });

    function is_full_screen(){
    // +1 is because firefox add an bar of pixel height 1 to the top of full screen that pops down the menu bar
    // the pop down functionality is disabled when F11 is pressed three times.
    if(screen.width === window.innerWidth && screen.height === window.innerHeight){
        $('#fs').hide();
    }else{
        $('#fs').show();
    }}
    </script>

</head>
<body bgcolor="#E6E6FA">
<h1>Welcome to the LEMRinterface Home Screen</h1>
<div id="fs"><h2>Please reload in full screen (F11 then F5)</h2></div>
<div class="info-div">
    <p> LEMRinterface is a novel take on displaying a patient's electronic medical record (emr) data.
	</p><p> It was built to facilitate the development a Learning EMR (LEMR) system.
    </p><p> Click on the interface_demo button to see cases presented in three different ways (highlights, highlights-only, control).
    </p><p> These were the arms of the LEMR evaluation study (see <a href="https://www.sciencedirect.com/science/article/pii/S1532046419302461">Using machine learning to selectively highlight patient information</a>)
    </p><p> To use LEMRinterface for your own EMR simulation studies, see <a href="https://github.com/ajk77/LEMRinterface">LEMRinterface on github</a>, to learn how to customize the cases and workflow.
</p>
    <table width="50%" border="1"><tr><th>Participants</th><th>Last Accessed</th><th>Cases Complete</th></tr>
    {% for user in full %}
        {% if user.isFinished %}
            <tr><th><a href="http://127.0.0.1:8000/LEMRinterface/{{ user.next_case }}/{{ user.user_id }}"><button disabled>{{ user.name }}</button></a> </th><th>{{ user.access }} </th><th> {{ user.count }}</th></tr>
        {% else %}
            <tr><th><a href="http://127.0.0.1:8000/LEMRinterface/{{ user.next_case }}/{{ user.user_id }}"><button>{{ user.name }}</button></a> </th><th>{{ user.access }} </th><th> {{ user.count }}</th></tr>
        {% endif %}
    {% endfor %}
    </table>
    </br></br>
    <a href="http://127.0.0.1:8000/LEMRinterface/case_reset"><button>reset</button></a> Use this button to reset cases complete to 0 for all participants.

</div>

</body>
</html>
