{% load custom_tags %}
<div class="contents tab-pane" id={{ div_id }}>
    <div class="tabbable">
         <div class="tab-content col-md-12 dropdown scroll-box">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
            Switch Note <span class="caret"></span>
        </button>
         <ul class="dropdown-menu m_h">
            {% for report in report_dict %}
                {% if forloop.first %}
                    <a href="#{{ div_id }}-{{ forloop.counter0 }}-{{ report.upk }}" data-toggle="tab">
                        <button class="v-button red-text" onclick="setColor(this)">
                            {{ report.date|date_only }} - {{ report.type }}
                        </button>
                        <button class="m-button" onclick="add_vertical_point.call(this, '{{ report.js_time }}', true)">
                            Mark date
                        </button>
                    </a>
                {% else %}
                    <a href="#{{ div_id }}-{{ forloop.counter0 }}-{{ report.upk }}" data-toggle="tab">
                        <button class="n-button" onclick="setColor(this)">
                            {{ report.date|date_only }} - {{ report.type }}
                        </button>
                        <button class="m-button" onclick="add_vertical_point.call(this, '{{ report.js_time }}', true)">
                            Mark date
                        </button>
                    </a>
                {% endif %}
            {% endfor %}
        </ul>
    
        </div>

        <div class="tab-content col-md-12 scroll-box" id="note_scroll">
            {% for report in report_dict %}
                {% autoescape off %}
                    <div class="tab-pane report {% if forloop.counter0 == 0 %} active {% endif %}"
                         id="{{ div_id }}-{{ forloop.counter0 }}-{{ report.upk }}"><p></p><p align="center">
                        Date: {{ report.date }}</p><p></p> {{ report.text }}
                    </div>
                {% endautoescape %}
            {% endfor %}
        </div>
    </div>
</div>

<script>

</script>