{% extends "SEMRinterface/picker_base.html" %}

{% block title %}Study selection{% endblock %}

{% block content %}
<h1>Study selection</h1>
<form method="post" action="" class="lab-settings">
    {% csrf_token %}
    <fieldset>
        <legend>Lab settings</legend>
        <label>
            <input type="checkbox" name="eye_tracking_mode" id="eye_tracking_mode" value="1"{% if eye_tracking_mode %} checked{% endif %}>
            Eye-tracking mode (locks the case viewer to 1920&times;1080)
        </label>
        <button type="submit" class="btn" name="save_settings" value="1">Save settings</button>
    </fieldset>
</form>
<p>Select a study:</p>
<ul class="study-list">
    {% for study_id in list_study_id %}
    <li><a class="study-card" href="{% url 'select_user' study_id %}">{{ study_id }}</a></li>
    {% endfor %}
</ul>
{% endblock %}
