{% extends "SEMRinterface/picker_base.html" %}

{% block title %}User selection{% endblock %}

{% block content %}
<h1>User selection</h1>
<p>Select a user id:</p>
<div class="table-wrap">
    <table class="picker-table">
        <thead>
            <tr>
                <th scope="col">User Id</th>
                <th scope="col">Last Accessed</th>
                <th scope="col">Cases Assigned</th>
                <th scope="col">Cases Complete</th>
            </tr>
        </thead>
        <tbody>
        {% for user_id, details in dict_user_2_details.items %}
            <tr>
                <th scope="row"><a class="btn" href="{% url 'select_case' study_id user_id %}">{{ user_id }}</a></th>
                <td>{{ details.last_accessed }}</td>
                <td>{{ details.cases_assigned|length }}</td>
                <td>{{ details.cases_completed|length }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<p class="picker-back">
    <a class="btn btn-ghost" href="{% url 'select_study' %}">Return to Study Selection</a>
</p>
{% endblock %}
